body {
	box-sizing: border-box;
	max-width: 1920px;
	margin: auto;
}
* {
	box-sizing: border-box;
	font-family: 'Inter';
	font-style: normal;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, .quote__text {
	font-weight: 500;
	line-height: 1.2;
	margin: 0 0 8px;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 26.794px;
	margin: 0;
}

h3 {
	font-size: 26.374px;
}

h4 {
	font-size: 23.187px;
}

p {
	margin: 0;
	margin: 0 0 16px;
}

.top-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	padding-inline: 100px;
	padding-block: 30px;
}

.nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	font-size: 14px;
	padding: 0 0 0 32px;
	margin-bottom: 0;
}

.nav li {
	padding-inline: 10px;
}

.nav a {
	text-decoration: none;
	color: #000;
}

.social-link img {
	width: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	cursor: pointer;
}

.visually-hidden {
	color: #595959;
}

#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}

.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
	font-family: "Inter";
}

.picture img {
	width: 100%;

}
#about-me {
	flex: 2;
}
.about-me__title {
	font-size: 30px;
	margin-top: 1em;
	margin-bottom: 60px;
}
#about-me .about-me__introduction {
	font-family: 'Spectral';
	font-size: 16px;
	font-weight: 800;
	font-style: italic;
	width: 60%;
	margin: 0 0 8px;
	line-height: 1.2em;
}
#about-me p {
	width: 80%;
	font-size: 14px;
	line-height: 1.5em;
}

#gallery {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title{
	text-align: center;
	padding: 53.588px 0;
	margin: 0 0 8px;
}
.gallery .nav {
	justify-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #17505E;
	border-radius:0 ;
}
.nav-pills .nav-link {
	color: #000;
	cursor: pointer;
}

.container.py-3 {
	margin: 0 12px;
	padding: 16px 12px;
}

.my-4.tags-bar.nav.nav-pills {
	margin: 24px 0;
}

.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}
.item-column::after{
	content: "";
	display: block;
	padding-bottom: 100%;

}
.gallery-item {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: .5em;
}
.mg-prev, .mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}

figure {
	margin: 0 0 16px;
}

.quote {
	font-family: 'Spectral';
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}
.quote__text {
	font-family: 'Spectral';
	font-style: italic;
	font-weight: 300;
	font-size: 38.935px;
	
}
.quote__author {
	font-family: 'Spectral';
	font-weight: 800;
	font-size: 22px;
}

#services {
	margin: auto;
	background-color: #A8D5D8;
	position: relative;
}
#services .container::before{
	content: ' ';
	background-color: #17505E;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding : 2em 0;

}

#services .title {
	margin: 0 0 8px;
}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}

.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.form-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	height: auto;
	flex : 2;
}

.form-container p{
	margin: 0;
}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	gap: 30px;
	width: 100%;
	height: auto;
	padding: 40px 0 0 0;
	background-color: #D8D3A8;
}

footer h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	padding: 30px;
	background-color: #D8D3A8;
}

.infos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding: 30px 30px;
	margin: 0;
	font-family: 'Spectral';
	font-weight: 500;
	font-size: 18px;
	background-color: #BEB45A;
}

@media all and (max-width: 1180px) {
	.picture {
		flex : 2;
	}
	#about, #contact .container {
		align-items: center;
	}
	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}
	#about-me .about-me__introduction,
	#about-me h6, #about-me p {
		width: 100%;
	}
}

@media all and (max-width: 1000px) {
	.top-header .nav, .top-header .nav ul {
		padding: 0 0 0 0;
	}
	.top-header{
		padding: 30px 30px;
	}
	#about{
		flex-direction: column;

	}
	.picture {
		width: 50%;
	}
	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.about-me__title{
		text-align: center;
		margin-top: 1em;
	}
	#services .container {
		flex-direction: column;
	}
	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}
	.service__description{
		margin-bottom: 1em;
	}

	#services .container::before{
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact .container {
		flex-direction: column;
		align-items: center;
	}

	.form-container {
		max-width: 516px;
	}
	#contact .picture.right {
		margin-top: 1em;
		max-width: 388px;
		height: auto;
	}
	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

@media all and (max-width: 650px) {
	.top-header {
		flex-direction: column;
		padding-inline: 0;
	}
	.top-header .nav, .top-header .nav ul {
		width: 100%;
		justify-content: space-between;
	}
	.top-header .nav ul li {
		flex: 1;
		padding: 0em;
		text-align: center;
	}
	.gallery ul {
		flex-direction: column;
		text-align: center;
	}
	.gallery ul .nav-item{
		padding: 0;
		border-bottom: solid 1px #BEB45A;
	}
	.picture.left::before, .picture.right::before {
		height: 150px;
	}
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}
	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	form {
		width: 100%;
	}
	.picture {
		width: 80%;
	}
}

